*{
    margin: 0;
    padding: 0;
    outline: none;
}
html{
    font-family: roboto;
    font-size: 62.5%;
    scroll-behavior: smooth;
    
}
body{
    background-color: #EDEDED;
}
img{
    width: 100%;
    height: auto;
}
h1{
    font-size: 5.6rem;
    background-color: #E9E3EF;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}
h2{
    font-size: 4.8rem;
    margin-bottom: 40px;
}
h3{
    font-size: 3.2rem;
}
p{
    font-size: 1.6rem;
    line-height: 142%;
    margin-bottom: 2.6rem;
}
a{
    font-size: 1.6rem;
}
.whiteButton{
    padding: 8px 36px;
    font-weight: bold;
    outline: black 1px solid;
    border-radius: 5px;
    text-decoration: none;
    background-color: white;
    color: black;
}
.blackButton{
    padding: 8px 36px;
    font-weight: bold;
    outline: black 1px solid;
    border-radius: 5px;
    text-decoration: none;
    background-color: black;
    color: white;
}
.active{
    background-color: black !important;
    color: white !important;
}

.main{
    height: 10000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header{
    display: flex;
    background-color: #C38AFF;
    height: 70px;
    width: 100%;
    align-content: center;
    justify-content: center;
}
header img{
    width: 85.5px;
    height: 43px;
}
.headerContainer{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1152px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 466px;
}
nav a{
    background-color: white;
    color: black;
    width: 74px;
    text-align: center;
    padding: 5px 0px;
    font-weight: bold;
    outline: black 1px solid;
    border-radius: 5px;
    text-decoration: none;
}
.hero{
    padding: 96px 0px;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1152px;
    min-width: 1100px;
}
.heroText{
    width: 566px;
}
.imageHero{
    width: 515px;
    min-width: 515px;
    height: 420px;
    background-image: url("imageHero.png");
    background-repeat: repeat;
    background-size: 515px 420px;
    border-radius: 100px;
}

.adoptions{
    padding-bottom: 96px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 1152px;
    min-width: 1100px;
}

.adoptions a{
    background-color: white;
    margin: 5px;
    color: black;
    text-align: center;
    padding: 5px 5px;
    font-weight: bold;
    outline: black 1px solid;
    border-radius: 5px;
    text-decoration: none;
}



.show {
    padding-top: 100px;
    width: 100%;
    max-width: 1152px;
    margin: 0 auto;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
  }
  
  .gradient{
    margin-top: 10px;
    position: relative;
    background-color: #EDEDED;
  }
  .gradient::before,
  .gradient::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 30px;
    z-index: 10;
    pointer-events: none;
    background-color: #EDEDED;
    background: linear-gradient(to right, #EDEDED, rgba(255, 255, 255, 0));
  }
  
  
  .gradient::after {
    right: 0;
    background: linear-gradient(to left, #EDEDED, rgba(255, 255, 255, 0)); 
  }
  

      .belt {
        display: flex;
        gap: 50px;
        width: max-content;
        -ms-overflow-style: auto; 
        scrollbar-width: thin;    
      }

      
      
      .belt-item {
        width: 368px;
        height: 508px;
        background-color: #E9E3EF;
        border-radius: 50px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
      }
  
  


      .belt-item img{
        position: relative;
        width: 200px;
        height: 200px;
        bottom: 100px;
      }
      .beltText{
        position: relative;
        bottom: 100px;
        width: 26.8rem;
        text-align: center;
        display: flex;
        flex-direction: column;

      }
      .beltText h2{
        margin-bottom: 10px;
      }
      .beltText p {
        text-align: left;
      }
      .beltText a{
        width: 6rem;
        background-color: black;
        font-size: 1.6rem;
        color: white;
        text-align: center;
        padding: 10px 40px;
        font-weight: bold;
        border-radius: 5px;
        text-decoration: none;
    }
    
    .store{
        width: 90%;
        max-width: 1152px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .products {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* 2 columns with equal width */
        width: 100%;
        text-align: center;
        row-gap: 10px;
        column-gap: 152px;
    }

    .product-item{
        border: solid black 1px;
    }
    